<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio - Fathurahman Alhakim</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        header {
            text-align: center;
            background-color: #3498db;
            color: white;
            padding: 10px;
            border-radius: 10px;
        }

        section {
            margin-top: 20px;
        }

        h2 {
            color: #2c3e50;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #34495e;
            color: white;
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <header>
        <h1>Fathurahman Alhakim</h1>
        <p>Usia: 21 | Asal: Depok | Hobi: Bermain Futsal</p>
    </header>

    <section>
        <h2>Jenjang Karir</h2>
        <ul>
            <li>S1 Teknik Informatika</li>

        </ul>
    </section>

    <footer>
        <p>&copy; 2023 Fathurahman Alhakim.</p>
    </footer>

</body>

</html>
